{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}
		<!-- Main Section Start -->
		<div class="main-section">

			{% include 'customer/cover.html' %}
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<!--Load customer sidebar here-->
							{% include 'includes/customer-sidebar.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard">
								<div class="user-holder">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-suggest-list listing simple">
												<div class="element-title">
													<h5 class="text-uppercase">Account Settings</h5>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->
{% endblock %}